{% extends "base.html" %}
{% load static %}
{% block title %}AbuZaid / Home{% endblock %}
{% block head %} {% endblock %}
{% block content%}
<div class="hero">
	<div class="hero-slide ">

		<picture>
			<source srcset="{%static 'images/photo1.jpg'%}" media="(max-width:480px)" />
			<source class="img overlay" srcset="{%static 'images/photo11.avif'%}" media="(max-width:768px)" />
			<img src="{%static 'images/struct7.jpg'%}" class="img overlay w-100">
		</picture>
		<picture>
			<source srcset="{%static 'images/photo2.avif'%}" media="(max-width:480px)" />
			<source class="img overlay" srcset="{%static 'images/photo22.avif'%}" media="(max-width:768px)" />
			<img src="{%static 'images/struct8.jpg'%}" class="img overlay w-100">
		</picture>
		<picture>
			<source srcset="{%static 'images/photo3.jpg'%}" media="(max-width:480px)" />
			<source class="img overlay" srcset="{%static 'images/photo33.jpg'%}" media="(max-width:768px)" />
			<img src="{%static 'images/struct9.jpg'%}" class="img overlay w-100">
		</picture>

	</div>

	<div class="container">
		<div class="row justify-content-center align-items-center ">
			<div class=" ">
				<div id="text-bg">
					<p id="header-bg-text" data-aos="fade-up">
						Towards new horizons in steel structures, we build the future with our solid designs and
						innovative ideas.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row mb-5 align-items-center">
			<div class="col-lg-6">
				<h2 class="font-weight-bold text-primary heading">Explore Our Projects</h2>
			</div>
			<div class="col-lg-6 text-lg-end">
				<p><a href="{% url 'projects' %}" target="_blank" class="btn btn-primary text-white py-3 px-4">View all
						projects</a>
				</p>
			</div>
		</div>
		<div class="row">

			<div class="col-12">

				<div class="property-slider-wrap">

					<div class="property-slider">
						{% for project in projects %}
						<div class="property-item">

							<a href="property-single.html" class="img">
								<img src="{% static 'images/img_1.jpg' %}" loading="lazy" alt="Image" class="img-fluid">
							</a>

							<div class="property-content">
								<div class="price mb-2"><span>{{ project.name }}</span></div>
								<div>
									<span class="city d-block mb-3">{{ project.location }}</span>
								</div>
							</div>
						</div> <!-- .item -->



						<div class="property-item">

							<a href="property-single.html" class="img">
								<img src="{% static 'images/img_5.jpg' %}" loading="lazy" alt="Image" class="img-fluid">
							</a>

							<div class="property-content">
								<div class="price mb-2"><span>Prominad</span></div>
								<div>
									<span class="d-block mb-2 text-black-50">5232 Amman-swailh</span>
									<span class="city d-block mb-3">Jordan-Amman</span>



									<a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
								</div>
							</div>
						</div> <!-- .item -->

						<div class="property-item">

							<a href="property-single.html" class="img">
								<img src="{% static 'images/img_6.jpg' %}" alt="Image" class="img-fluid">
							</a>

							<div class="property-content">
								<div class="price mb-2"><span>Prominad</span></div>
								<div>
									<span class="d-block mb-2 text-black-50">5232 Amman-swailh</span>
									<span class="city d-block mb-3">Jordan-Amman</span>



									<a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
								</div>
							</div>
						</div> <!-- .item -->

						<div class="property-item">

							<a href="property-single.html" class="img">
								<img src="{% static 'images/img_7.jpg' %}" loading="lazy" alt="Image" class="img-fluid">
							</a>

							<div class="property-content">
								<div class="price mb-2"><span>Prominad</span></div>
								<div>
									<span class="d-block mb-2 text-black-50">5232 Amman-swailh</span>
									<span class="city d-block mb-3">Jordan-Swailh</span>



									<a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
								</div>
							</div>
						</div> <!-- .item -->

						<div class="property-item">

							<a href="property-single.html" class="img">
								<img src="{% static 'images/img_8.jpg' %}"loading="lazy" alt="Image" class="img-fluid">
							</a>

							<div class="property-content">
								<div class="price mb-2"><span>Prominad</span></div>
								<div>
									<span class="d-block mb-2 text-black-50">5232 Amman-swailh</span>
									<span class="city d-block mb-3">Jordan-Amman</span>



									<a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
								</div>
							</div>
						</div> <!-- .item -->

						<div class="property-item">

							<a href="property-single.html" class="img">
								<img src="{% static 'images/img_1.jpg' %}"loading="lazy" alt="Image" class="img-fluid">
							</a>

							<div class="property-content">
								<div class="price mb-2"><span>Prominad</span></div>
								<div>
									<span class="d-block mb-2 text-black-50">5232 Amman-swailh</span>
									<span class="city d-block mb-3">Jordan-Amman</span>



									<a href="property-single.html" class="btn btn-primary py-2 px-3">See details</a>
								</div>
							</div>
						</div> <!-- .item -->


					</div>

					<div id="property-nav" class="controls" tabindex="0" aria-label="Carousel Navigation">
						<span class="prev" data-controls="prev" aria-controls="property" tabindex="-1">Prev</span>
						<span class="next" data-controls="next" aria-controls="property" tabindex="-1">Next</span>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>

<div class="section section-4 bg-light">
	<div class="container">
		<div class="row justify-content-center text-center mb-5">
			<div class="col-lg-5">
				<h2 class="font-weight-bold heading text-primary mb-4">What Makes Us Unique</h2>
				<p class="text-black-50">We take pride in delivering quality, innovation, and reliability in every
					project</p>
			</div>
		</div>
		<div class="row justify-content-between mb-5 ">
			<div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
				<div class="img-about dots">
					<img src="{% static 'images/struct5.jpg' %}" loading="lazy" alt="Image" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4  d-flex flex-column justify-content-center">
				<div class="d-flex feature-h ">
					<span class="wrap-icon me-3 d-flex justify-content-center">
						<svg style="width: 30%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
							stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
							<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
							<g id="SVGRepo_iconCarrier">
								<path d="M2 18a1 1 0 001 1h18a1 1 0 001-1v-2a1 1 0 00-1-1H3a1 1 0 00-1 1v2z"></path>
								<path d="M10 10V5a1 1 0 011-1h2a1 1 0 011 1v5"></path>
								<path d="M4 15v-3a6 6 0 016-6h0"></path>
								<path d="M14 6h0a6 6 0 016 6v3"></path>
							</g>
						</svg>
					</span>
					<div class="feature-text">
						<h3 class="heading">Easy and safe</h3>
						<p class="text-black-50">Safety and efficiency in steel construction require proper equipment
							use, trained personnel, and adherence to safety
							regulations.</p>
					</div>
				</div>
				<div class="d-flex feature-h">
					<span class="wrap-icon me-3 d-flex justify-content-center">
						<svg style="width:50%" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
							viewBox="0 0 128 160" enable-background="new 0 0 128 128" xml:space="preserve">
							<g>
								<path
									d="M52.822,70.524l55.643-56.996l-33.702,1.371L19.387,71.62h33.015C52.389,71.226,52.525,70.828,52.822,70.524z" />
								<polygon points="18.889,107.575 28.426,107.575 28.426,97.806  " />
								<path
									d="M38.296,109.075V80.17c0-0.829,0.672-1.5,1.5-1.5h12.6V74.62H17.326v4.051h12.6c0.828,0,1.5,0.671,1.5,1.5v28.905   c0,0.829-0.672,1.5-1.5,1.5h-12.6v4.049h35.069v-4.049h-12.6C38.968,110.575,38.296,109.904,38.296,109.075z" />
								<polygon points="55.396,112.44 110.674,55.817 110.674,52.553 55.396,109.176  " />
								<path
									d="M41.296,105.628l56.008-57.37V37.673L55.293,80.705c-0.216,0.563-0.758,0.965-1.397,0.965h-12.6V105.628z" />
								<path
									d="M55.196,72.386c0.123,0.218,0.199,0.465,0.199,0.733v3.186l55.278-56.623V15.56L55.196,72.386z" />
								<path
									d="M99.436,50.369l-55.848,57.206h9.197c0.016-0.018,0.021-0.041,0.037-0.058l55.791-57.148H99.436z" />
							</g>
						</svg>
					</span>
					<div class="feature-text">
						<h3 class="heading">Quality properties</h3>
						<p class="text-black-50">This steel structure is built for durability, efficiency, and
							stability. The hexagonal cutouts reduce weight while
							maintaining strength, and the well-organized framework ensures long-lasting performance.</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}
{% block scripts %}

{% endblock %}