{% extends "base.html" %}
{% load static %}
{% block title %}AbuZaid /Projects{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}

{% block content%}


<div class="hero page-inner overlay" id="welcome-picture">

	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-9 text-center mt-5">
				<h1 class="heading" data-aos="fade-up">Our Projects</h1>

				<nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
					<ol class="breadcrumb text-center justify-content-center">
						<li class="breadcrumb-item "><a href="{% url 'index' %}">Home</a></li>
						<li class="breadcrumb-item active text-white-50" aria-current="page">Projects</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="container">
		<div class="row mb-5 align-items-center">
			<div class="col-lg-6 text-center mx-auto">
				<h2 class="font-weight-bold text-primary heading">Featured projects</h2>
			</div>

		</div>
		<div class="row">

			<div class="col-12">


				<div class="property-slider-wrap">



					<div class="property-slider">


						{% for project in latest_projects %}
						<div class="property-item">

							<a href="#" class="img">
								<img src="{{ project.images.first.images.url }}" alt="Image" class="img-fluid">
							</a>

							<div class="property-content">
								<div class="price mb-2"><span>{{ project.name }}</span></div>
								<div>
									<span class="city d-block mb-3">{{ project.location }}</span>
									<button onclick="clickedModalShow('{{ project.id }}')"
										class="btn btn-primary py-2 px-3">See
										details</button>
								</div>
							</div>
						</div> <!-- .item -->
						{% endfor%}

					</div>


					<div id="property-nav" class="controls" tabindex="0" aria-label="Carousel Navigation">
						<span class="prev" data-controls="prev" aria-controls="property" tabindex="-1">Prev</span>
						<span class="next" data-controls="next" aria-controls="property" tabindex="-1">Next</span>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>


<div class="section section-properties">
	<div class="container">
		<div class="row">
			{% for project in projects %}
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
				<div class="property-item mb-30">

					<a href="#" class="img">
						<img src="{{ project.images.first.images.url }}" alt="Image" class="img-fluid">
					</a>

					<div class="property-content">
						<div class="price mb-2"><span>{{ project.name }}</span></div>
						<div>
							<span class="city d-block mb-3">{{ project.location }}</span>
							<button onclick="clickedModalShow('{{ project.id }}')" class="btn btn-primary py-2 px-3">See
								details</button>
						</div>
					</div>
				</div> <!-- .item -->
			</div>
			{% endfor %}


		</div>
		<div class="row align-items-center py-5">
			<div class="col-lg-3">
				Pagination (1 of 10)
			</div>
			<div class="col-lg-6 text-center">
				<div class="custom-pagination">
					<a href="#">1</a>
					<a href="#" class="active">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="modal fade " id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen scrollable vh-100" data-backdrop="static" style="scrollbar-color: rgb(59, 126, 138) #eee5e5;
            scrollbar-width: thin;">
		<div class="modal-content">
			<div class="modal-header">
				<button class="modal-title" id="projectModalLabel"
					style="background-color: rgba(0, 85, 85, 0.75); color: white;padding: 10px;border:none ;font-weight:bold; border-radius: 5px; cursor:default">Project
					Details</button>
				<button type="button" class="btn-close f2-3 m-2" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid d-flex flex-column gap-2 w-50" id="modal-images">
					<!-- model images display here-->

				</div>
				<div class="container-fluid mt-5">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title" id="project-name"></h5>
						</div>
						<div class="card-body">
							<h6 class="card-subtitle mb-2 text-muted">Description</h6>
							<p class="card-text" id="project-description"></p>
							<p class="card-text" id="project-duration"><strong>Duration:</strong></p>
							<p class="card-text" id="project-location"><strong>Location:</strong></p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'js/project.js' %}"></script>
{% endblock %}